/*
* author: lints
* date: 2018-06-28
* description: scss常量配置 x:极小;s:小; m:中; l:大;
* */

$border-radius-m: 4px;
$input-height-m: 34px;
$btn-height-m: 38px;
$fontColorRed: #f44336;
$fontColorBlue: #303f9f;
